<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
            </tr>
            </thead>
            <tbody>
            <% @users.each do |u| %>
                <tr>
                  <td><%= u.name %></td>
                  <td><a href="mailto:<%= u.email %>"><%= u.email %></a></td>
                  <td><a href="tel:<%= u.phone %>"><%= u.phone.try(:phony_formatted, {format: :international}) %></a></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>